{% extends 'pages/base.html' %}

{% block title %}
    Search
{% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><center>Search Pets and Owners</center></h1>
            <p class="lead"><center>Search Results</center></p>
            <div class="text-center">
                
            </div>
        </div>
    </div>

<center>
{% if searched %}
    You Searched For : {{searched}}
    <br/>
    {% for owner_name in owner_search %}
        {{owner_name}} - {{owner_name.owner_phone}}<br/>
    {% endfor %}

{% else %}
    Do you wanna search?
{% endif %}    
</center>    

{% endblock content %}